.create-comment {
    margin-top: 32px;
    padding-top: 20px;

}

.create-comment-title {
    font-size: 20px;
    margin-bottom: 16px;
}


.comments-list {
    list-style: none;
    padding: 0;
    margin: 0 0 24px;
}

.create-comment-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.comment-textarea {
    resize: none;
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}

.comment-textarea:focus {
    outline: none;
    border-color: #2ecc71;
}

.comment-submit-btn {
    align-self: flex-end;
    padding: 8px 18px;
    border-radius: 8px;
    border: none;
    background-color: #2ecc71;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s;
    
}

.comment-submit-btn:hover {
    background-color: #a58309;
}