.header-nav {
    display: flex;
    justify-content: center;
    gap :12px;
    padding: 8px 16px;
    border-bottom: 5px solid #ccc;
    border-top:  5px solid #ccc;
    background-color: #f4f4f4;
}
