.header-nav {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
  border-bottom: 4px solid #ccc;
  position: relative;
}
.header-nav a.active {
  font-weight: 700;
  text-decoration: underline;
}
.hello-user {
  position: absolute;
  right: 20px;
  font-size: 14px;
  font-weight: 600;
  color: #374151;
}

.nav-links {
  display: flex;
  gap: 20px;
  margin: 0 auto
}