
.header-nav a.active {
  font-weight: 700;
  text-decoration: underline;
}
.header-nav {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 10px 20px;
  background-color: #30d4ae;
  border-bottom: 4px solid #ccc;
}

.nav-left {
  justify-self: start;
}

.nav-links {
  justify-self: center;
  display: flex;
  gap: 20px;
  font-size: large;
}

.nav-user {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav-user a {
  font-weight: 600;
}

.hello-user {
  font-size: 14px;
  font-weight: 600;
  color: #374151;
}