
.header-nav a.active {
  font-weight: 700;
  text-decoration: underline;
}
.header-nav {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  background-color: #f4f4f4;
  border-bottom: 4px solid #ccc;
}

.nav-left {
  flex: 1;
}

.nav-links {
  display: flex;
  gap: 20px;
  justify-content: center;
  flex: 2;
}

.nav-user {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
}

.nav-user a {
  font-weight: 600;
}

.hello-user {
  font-size: 14px;
  font-weight: 600;
  color: #374151;
}